.layout { width: 980px; margin: auto; }
.sidebar {
 background: #C6DD7D; /* Цвет фона */
 width: 180px; /* Ширина колонки */
 float: left; /* Обтекание справа */
}
.content {
 background: #F4ECCE; /* Цвет фона */
 margin-left: 180px; /* Отступ слева */
}