body {font-family: Arial;}
h1 {
    font-size: 32pt;
    font-family: Verdana;
}
p {font-size: 14pt !important;}
p.greeting {font-size: 24pt;}
.picture img {width: 67%;}
h1 em {font-weight: normal;}
.advertising {margin-left: 30pt;}
header {text-align: center;}
main {text-align: justify;}
footer {text-align: right;}
.advertising div {
    font-size: 12pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}
.bigger {font-size: 16pt;}
table.pricelist th, table.pricelist td {
    border: grey thin solid;
    padding: 4px;
}
