/* 
  Стиль для сайта htmlbook.ru
  Сделан для ознакомительных целей
*/
  
div {
  width: 200px; /* Ширина контента */
  margin: 10px; /* Поля вокруг элемента */
  float: left; /* Обтекание по правому краю */
}