.polar {
    width: 182px;
    height: 182px;
    border: 1px solid grey;
    position: relative;
}
.polar img {
    display: block;
    width: 100%;
}
.polar div {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    text-align: center;
    background-color: white;
}
.polar {
    margin: 5px;
    float: left;
}
