body {
	font-family: arial;
}
h1 {
	font-family: verdana;	
	font-size: 32pt;
	text-align: center;
}
p {
	font-size: 14pt !important; 
	text-align: justify;
}
address{
			text-align: right;
}
em {
	font-weight: normal;
}
.picture {
	text-align: center;
}
.picture img {width: 67%;}
p.greeting {
	font-size: 24pt;
}
